body {
    background-color: #2a2a2a;
}

.title {
    position: relative;
    display: block;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    color: #ffffff;
    font-size: 2em;
}

.contactWrapper {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.contactForm {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 40px 70px 40px 70px;
    background-color: #161616;
}

.contactLabel {
    color: #ffffff;
    margin-bottom: 2%;
    font-size: 0.7em;
}

.contactItem {
    color: #ffffff;
    /* margin-top: 10px; */
    margin-bottom: 20px;
    background: none;
    border: none;
    border-bottom: 2px solid #005174;
    font-size: 14px;
    outline: none;
    transition: border-color .2s;
}

.contactItem:focus {
    border-bottom-color: #008cc8;
}

.contactMessage {
    resize: none;
}

.sendButton {
    margin-top: 2%;
    background: none;
    border: none;
    color: #ffffff;
    font-size: 1.5em;
    outline: none;
    width: 80px;
    align-self: flex-end;
    border-bottom: 2px solid #005174;
    transform-origin: bottom;
    transition: all 0.5s;
}

.sendButton:hover {
    border-bottom-color: #008cc8;
    background-color: #008cc8;
}

.socialMedia {
    margin-top: 100px;
    margin-bottom: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.socialMedia ul {
    width: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 20px;
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
}

.socialMediaItems{
    padding: 20px 20px 15.2px 20px;
    border-radius: 100%;
    background-color: #161616;
    cursor: pointer;
    transition: all 0.5s;
}

.socialMediaItems:hover {
    background-color: #ffffff;
    transition: all 0.5s;
    img {
        filter: none;
    }
}

.socialMediaItems a {
    text-decoration: none;
}

.socialMediaItems img {
    height: 2em;
    width: 2em;
    transition: all 0.5s;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
}