@import url(https://fonts.googleapis.com/css?family=Noto+Serif);

* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Serif', sans-serif;
}

.homeBg {
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
    display:block;
}

.tint {
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
    display:block;
    background-color: #000000;
    opacity: 75%;
}

.intro {
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
    display:flex;
    color: #ffffff;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#name{
    font-size: 7vw;
}

#desc {
    font-size: 2.5vw;
}