@import url(https://fonts.googleapis.com/css?family=Noto+Serif);

* {
  margin: 0;
  padding: 0;
  font-family: 'Noto Serif', sans-serif;
}

.menuButton {
    position: fixed;
    top: 10%;
    right: 5%;
    display: block;
    width: 48px;
    height: 48px;
    padding: 0;
    margin: 0;
    cursor: pointer;
    z-index: 1;
    border: none;
    border-radius: 100px;
    background-color: #000000;
}

.menuButton span,
.menuButton span::before,
.menuButton span::after {
    display: block;
    position: fixed;
    height: 4px;
    border-radius: 2px;
    background: #ffffff;
}

.menuButton span {
    position: absolute;
    top: 50%;
    left: 10px;
    right: 10px;;
    display: block;
    transition: all 0.3s;
}

.menuButton span::before,
.menuButton span::after {
    left: 0;
    width: 100%;
    content: "";
    transition-duration: 0.3s, 0.3s;
    transition-delay: 0.3s, 0s;
}

.menuButton span::before{
    position: absolute;
    top: -8px;
    transition-property: top, transform;
}

.menuButton span::after {
    position: absolute;
    bottom: -8px;
    transition-property: bottom, transform;
}

.menuButton.menuActive span {
    background: none;
}

.menuButton.menuActive span::before {
    top: 0;
    transform: rotate(45deg);
    transition-delay: 0s, 0.3s;
}

.menuButton.menuActive span::after {
    bottom: 0;
    transform: rotate(-45deg);
    transition-delay: 0s, 0.3s;
}

.menu {
    position: fixed;
    left: 0;
    top :0 ;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    clip-path: circle(25px at calc(95% - 25px) calc(10% + 25px));
    transition: all 0.3s ease-in-out;
}

.menu.menuActive {
    display: block;
    clip-path: circle(100%);
}

.menu ul{
    height: 70%;
    margin-top: 7%;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

.menuItems a{
    text-decoration: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: row;
}

.menuItems img {
    margin-right: 5px;
    height: 4vw;
    width: 4vw;
}

.menuItems p{
    margin-left: 5px;
    color: #ffffff;
    font-size: 2vw;
}

.menuItems:hover {
  transform: scale(1.1);
  transition: all 0.5s;
}

.menuItems:not(:hover) {
  transform: scale(1);
  transition: all 0.5s;
}

@keyframes top {
    0% {
      top: 0;
      transform: rotate(0);
    }
    50% {
      top: 22px;
      transform: rotate(0);
    }
    100% {
      top: 22px;
      transform: rotate(45deg);
    }
  }
  
  @keyframes top-2 {
    0% {
      top: 22px;
      transform: rotate(45deg);
    }
    50% {
      top: 22px;
      transform: rotate(0deg);
    }
    100% {
      top: 0;
      transform: rotate(0deg);
    }
  }
  
  @keyframes bottom {
    0% {
      bottom: 0;
      transform: rotate(0);
    }
    50% {
      bottom: 22px;
      transform: rotate(0);
    }
    100% {
      bottom: 22px;
      transform: rotate(135deg);
    }
  }
  
  @keyframes bottom-2 {
    0% {
      bottom: 22px;
      transform: rotate(135deg);
    }
    50% {
      bottom: 22px;
      transform: rotate(0);
    }
    100% {
      bottom: 0;
      transform: rotate(0);
    }
  }
  
  @keyframes scaled {
    50% {
      transform: scale(0);
    }
    100% {
      transform: scale(0);
    }
  }
  
  @keyframes scaled-2 {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  