@import "tailwindcss";
@source inline("border-pink-400");
@source inline("hover:border-pink-400");
@source inline("border-pink-400/30");
@source inline("text-pink-400");
@source inline("bg-pink-400");
@source inline("hover:bg-pink-400/10");

@source inline("border-indigo-400");
@source inline("hover:border-indigo-400");
@source inline("border-indigo-400/30");
@source inline("text-indigo-400");
@source inline("bg-indigo-400");
@source inline("hover:bg-indigo-400/10");

@source inline("border-cyan-400");
@source inline("hover:border-cyan-400");
@source inline("border-cyan-400/30");
@source inline("text-cyan-400");
@source inline("bg-cyan-400");
@source inline("hover:bg-cyan-400/10");

@source inline("border-purple-400");
@source inline("hover:border-purple-400");
@source inline("border-purple-400/30");
@source inline("text-purple-400");
@source inline("bg-purple-400");
@source inline("hover:bg-purple-400/10");

@source inline("border-green-400");
@source inline("hover:border-green-400");
@source inline("border-green-400/30");
@source inline("text-green-400");
@source inline("bg-green-400");
@source inline("hover:bg-green-400/10");

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  /* min-width: 320px; */
  min-height: 100vh;
}